@import '~bootstrap/scss/bootstrap';

.jumbotron{
    background-image: url('../img/back-ticket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}